# Cloud Run に渡す 公開しても良い 環境変数
#  .env.dev に 同じ内容を 入れて 使う
# 一応 .env.dev は gitignore する
IS_CLOUD=false
PORT=8081

# 以下は ローカル限定
# BigQuery にローカルから接続するために サービスアカウント の key を使う
# これで BigQuery の SDK で 自動でこの認証を使ってくれる
GOOGLE_APPLICATION_CREDENTIALS=
