# このファイルは Cloud Run に渡す secret に どのような 値を入れるか コメントを書く
# それぞれの secret ファイル には 値しか書けないため
# メモ なので コミットしてもよい

# IS_LIVE は 公開情報にしてもよいが Google Cloud Platform 上 の GUI で
# 外部サービス の エンドポイント を切り替えるため
IS_LIVE=false

# Coin Market Cap の情報
COIN_MARKET_CAP_API_KEY_LIVE=
COIN_MARKET_CAP_API_KEY_SANDBOX=
COIN_MARKET_CAP_API_URL_LIVE=
COIN_MARKET_CAP_API_URL_SANDBOX=

# local_db コンテナ の PostgreSQL に接続する設定例
# Supabase のときは JSON を 格納する
DATABASE_SUPABASE_JSON=
# 接続文字列のときは 以下
# ホスト は Docker Compose のサービス名
# postgres://<ユーザー名>:<パスワード>@<ホスト>:<ポート>/<データベース名>
DATABASE_URL=

# 本番: 実データ(IS_LIVE=true), クラウド(IS_CLOUD=true)
# GCP_PROJECT_ID=
# テスト: テストデータ(IS_LIVE=false), クラウド(IS_CLOUD=true)
GCP_PROJECT_ID=
# 本番: 実データ(IS_LIVE=true), ローカル(IS_CLOUD=false)
# GCP_PROJECT_ID=
# 開発: テストデータ(IS_LIVE=false), ローカル(IS_CLOUD=false)
# GCP_PROJECT_ID=

# BigQuery にローカルから接続するために サービスアカウント の key を使う
# これで BigQuery の SDK で 自動でこの認証を使ってくれる
GOOGLE_APPLICATION_CREDENTIALS=

# LINE bot の情報
LINE_CHANNEL_SECRET=
LINE_CHANNEL_TOKEN=

# 認証パスワードの pepper
# DB や永続化ファイルには保存しない サーバー側の追加秘密
AUTHN_PASSWORD_PEPPER=
