/node_modules/
*~
.gcloudignore

Dockerfile
.dockerignore
.git
.gitignore
.gitattributes
README.md
.npmrc
.prettierignore
.prettierrc
.eslintignore
.eslintrc.cjs
eslint.config.js
.graphqlrc
.editorconfig
.svelte-kit/*
.vscode
node_modules/*
build/*
package
**/.env
*.log
logs
.DS_Store
